 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {
    #section-banner .jumbotron .promo-caption{
        position: absolute;
        right: 7%;
        top: 20%;
        width: 45%;
        height: 130px;
        padding-left: 20px;
    }
    .top-nav .col-left{
        display: none;
    }
    .top-nav .col-right{
        text-align: center;
    }
    #section-booking .booking-content .tab-content .tab-content-left{
        margin-bottom: 1rem;
    }
 }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #section-banner .jumbotron .promo-caption{
        position: absolute;
        right: 7%;
        top: 20%;
        width: 45%;
        height: 130px;
        padding-left: 20px;
    }
    .top-nav .col-left{
        display: none;
    }
    .top-nav .col-right{
        text-align: center;
    }
    #section-booking .booking-content .tab-content .tab-content-left{
        margin-bottom: 10px;
    }
    #section-booking .booking-content .tab-content .tab-content-right .form-group{
        margin-bottom: 0;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
        /* Section Booking */
    #section-booking{
        position: relative;
    }
    #section-banner .jumbotron .promo-caption{
        position: absolute;
        right: 7%;
        top: 15%;
        width: 45%;
        height: 300px;
        padding-left: 20px;
    }
    #section-booking .booking-content .tab-content .tab-content-right .arrival-date{
        border-right: 1px solid #ebebeb;
        margin: 5px 0;
    }
    #section-booking .booking-content .tab-content .tab-content-right .departure-date{
        margin: 5px 0;
    }
    #section-booking .booking-content .tab-content .tab-content-right .form-group{
        margin: 0;
    }
    /* End / Section Booking */

    .destinations-list .panel .pic-wrapper .block-readmore a {
        top: 125px;
        right: 30px;
    }
    #section-booking .booking-content .tab-content .tab-content-right .form-group{
        margin-bottom: 0;
    }
    #about-us .about-content .promo-caption{
        margin-top: -25px;
    }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Section Booking */
    #section-booking{
        position: relative;
    }
    #section-booking .booking-content{
        position: absolute;
        bottom: 0px;
        left: 110px;
    }
    #section-booking .booking-content .tab-content .tab-content-right .arrival-date{
        border-right: 1px solid #ebebeb;
        border-left: 1px solid #ebebeb;
        margin: 20px 0;
    }
    #section-booking .booking-content .tab-content .tab-content-right .departure-date{
        margin: 20px 0;
    }
    #section-booking .booking-content .tab-content .tab-content-right .form-group{
        margin: 0;
    }
    
    /* End / Section Booking */
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Section Booking */
    #section-booking{
        position: relative;
    }
    #section-booking .booking-content{
        position: absolute;
        bottom: 0px;
        left: 120px;
        padding: 0 35px;
    }
    #section-booking .booking-content .tab-content .tab-content-right .arrival-date{
        border-right: 1px solid #ebebeb;
        margin: 0px 0;
    }
    #section-booking .booking-content .tab-content .tab-content-right .departure-date{
        margin: 5px 0;
    }
    #section-booking .booking-content .tab-content .tab-content-right .form-group{
        margin: 0;
    }
    /* End / Section Booking */
}

/* Mobile and tablet */
@media (max-width: 991.98px) {
    /* Section Header */
    #section-header .navbar-nav{
        padding-top: 20px;
    }
    #section-header li.nav-item a.nav-link{
        padding: 10px 0;
        font-size: 16px;
        color: #555;
        line-height: 20px;
    }
    #section-header .khuyen-mai a{
        color: #ff6c00 !important;
    }
    /* End / Section Header */

    /* Section Banner */
    #section-banner .jumbotron .promo-caption .caption-title{
        font-size: 22px;
        font-weight: 400;
        text-align: left;
        color: #ff6c00;
    }
    #section-banner .jumbotron .promo-caption .caption-title a{
        color: #ff6c00;
    }

    /* Section Booking */
    #section-booking .booking-content{
        margin: 15px auto;
    }
    #section-booking .booking-content .tab-content{
        padding: 5px;
    }
    #section-booking .booking-content .tab-content .tab-content-left h3 {
        font-size: 24px;
    }
    /* End / Section Booking */
    
}

/* Desktop and tivi */
@media (min-width: 992px){
    /* Section Header */
    #section-header .navbar-nav{
        font-weight: 400;
    }
    #section-header li.nav-item{
        position: relative;
    }
    #section-header li.nav-item a.nav-link::before{
        content: '';
        position: absolute;
        left: 40%;
        bottom: 25px;
        width: 0px;
        height: 2px;
        background-color: #374650;
        -webkit-transition: width .3s, margin-left .3s;
        transition: width .3s, margin-left .3s;
    }
    #section-header li.nav-item:hover a.nav-link::before{
        content: '';
        position: absolute;
        left: 40%;
        bottom: 25px;
        width: 20px;
        height: 2px;
        background-color: #374650;
        -webkit-transition: width .3s, margin-left .3s;
        transition: width .3s, margin-left .3s;
    }
    #section-header li.nav-item a.nav-link{
        padding: 5px 20px;
        margin: 35px 0;
        font-size: 16px;
        color: #555;
        line-height: 20px;
    }
    #section-header li.active a.nav-link::before{
        content: '';
        position: absolute; 
        left: 40%;
        bottom: 25px; 
        width: 20px;
        height: 2px;
        background-color: #374650;
        -webkit-transition: width .3s, margin-left .3s;
        transition: width .3s, margin-left .3s;
    }
    #section-header .khuyen-mai a{
        /* border: 1px solid #ff6c00;
        border-radius: 4px;
        background-color: #ff6c00; */
        color: #ff6c00 !important;
        font-weight: 700;
    }
    /* End / Section Header */

    /* Section Banner */
    #section-banner .jumbotron .promo-caption{
        position: absolute;
        right: 5%;
        top: 5%;
        width: 45%;
        height: 400px;
        padding-left: 20px;
    }
    #section-banner .jumbotron .promo-caption .caption-title{
        font-size: 32px;
        font-weight: 400;
        text-align: left;
        color: #ff6c00;
    }
    #section-banner .jumbotron .promo-caption .caption-title a{
        color: #ff6c00;
    }
    /* End / Section Banner */

    #about-us .about-content .promo-caption{
        margin-top: -25px;
    }

}